.DS_Store
.vscode/settings.json
data
output
venv
git-commands.txt


__pycache__/drydemolibrary.cpython-39.pyc
/.idea/code-trjfp.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
